{{ define "main" }}
<section class="py-12 bg-white dark:bg-gray-800">
    <div class="w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col lg:flex-row gap-8">
      <!-- Main Content -->
      <div class="{{ if and .Params.tags (or (eq .Type " engineering") (eq .Type "contributions" ) (eq .Type "blog" ))
        }}lg:w-3/4{{ else }}w-full{{ end }}">
        <h1 class="text-4xl font-bold mb-2 font-heading text-center text-gray-900 dark:text-white">{{ .Title }}</h1>
        {{ if eq .Type "blog" }}
        <div class="text-center text-gray-600 dark:text-gray-400 mb-8">
          <time datetime="{{ .Date.Format " 2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
        </div>
        {{ else }}
        <div class="mb-8"></div>
        {{ end }}
        <div
          class="prose max-w-none prose-lg markdown-content dark:prose-invert prose-gray [&_iframe]:min-h-[600px] [&_iframe]:w-full [&_img+em]:block [&_img+em]:text-center [&_img+em]:font-bold">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}